body {
  /* background-color: #ffe6f0 !important; */
  background-image: url('images/pink.jpg') ;
  background-size: cover;       /* 화면 가득 채움 */
  background-position: center;  /* 중앙 정렬 */
  background-repeat: no-repeat; /* 반복 방지 */
}