body {
  background-color: #1E3E62 !important;
  /* background-image: url('images/.jpg') ; */
  background-size: cover;       /* 화면 가득 채움 */
  background-position: center;  /* 중앙 정렬 */
  background-repeat: no-repeat; /* 반복 방지 */
}